---
import Layout from "../components/layout.astro";
import members from "../members.json";
---

<Layout>
  <h1 class="text-4xl font-bold">Hack Club Webring</h1>

  <h2 class="text-2xl mt-8 mb-4 font-semibold">What is this?</h2>
  <div class="space-y-2">
    <p>
      Back in the 90's, webrings once brought the internet together, creating a
      community for fellow site enthusiasts. We're bringing the concept back
      over 20 years later to create a community that's more robust and
      interconnected, refreshing the idea while maintaining the same creative
      spirit that existed then.
    </p>
    <p>
      The following webring connects Hack Club members and their personal
      websites by using a common navigation bar on each members's site. Check
      them out below or join by submitting a pull request!
    </p>
  </div>

  <h2 class="text-2xl mt-8 mb-4 font-semibold">Current Members</h2>
  <table class="min-w-full border border-gray-300">
    <thead>
      <tr class="bg-gray-100">
        <th class="px-4 py-2 text-left">Name</th>
        <th class="px-4 py-2 text-left">Website</th>
      </tr>
    </thead>
    <tbody>
      {
        members.map((member) => (
          <tr class="border-t">
            <td class="px-4 py-2">{member.member}</td>
            <td class="px-4 py-2">
              <a
                href={member.url}
                class="text-red-600"
                target="_blank"
                rel="noopener"
              >
                {member.url.toLowerCase()}
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
